.Landing {
  height: 100%;
  & input {
    width: 100%;
    border-radius: 20px;
    padding: 10px 12px;
    color: #444;
    font-weight: 500;
    font-size: 0.91rem;
    border: none;
    &::placeholder { 
      color: #01d277;
      opacity: 1;
      font-weight: 500;
    }
    &:-ms-input-placeholder {
      color: #01d277;
      font-weight: 500;
    }
    &::-ms-input-placeholder {
      color: #01d277;
      font-weight: 500;
    }
  }
  & .input-group-text {
    background-color: white;
    border-radius: 20px;
    border: none;
  }
  & .form-control:focus {
    border-color: #fff;
    box-shadow: unset;
  }
  & .logo-cont {
    width: 100%;
    text-align: center;
    margin-top: 45px;
    z-index: 100;
    position: absolute;
  }
  & .bg-img {
    width: 100%;
    height: 185px;
    position: relative;
  }
  & .logo-img {
    width: 25%;
    max-width: 140px;
  }
  @media (min-width: 768px) { 
      & .bg-img {
        width: 100%;
        height: 225px;
        position: relative;
      }
  }
}