.TitleDetail {
  height: 100%;
  & .container-fluid img {
    height: auto;
    max-height: 450px;
    width: 100%
  }
  & .backBtn {
    position: absolute;
    top: 22px;
    left: 20px;
    font-size: 21px;
  }
  & img.poster {
    border-radius: 0.55rem;
    position: relative;
    top: -60px;
    box-shadow: 0px 5px 15px 5px black;
  }
  & .row.overview {
    margin-top: -40px;
    & hr {
      border-top-color: rgba(125, 143, 175, 0.356)
    }
  }
  & h1 {
    line-height: 2rem;
    font-size: 1.8rem;
  }
  & .no-backdrop {
      background-color: #333;
      min-height: 220px;
  }

  $breakpoint-tablet: 768px;
  $breakpoint-desktop: 1200px;
  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    & h1 {
      line-height: 3rem;
      font-size: 2.9rem;
    }
    & h2 {
      font-size: 2.2rem !important;
    }
  }
  @media (min-width: $breakpoint-desktop) {
    font-size: 23px;
    & h1 {
      line-height: 4.2rem;
      font-size: 4.1rem;
    }
    & h2 {
      font-size: 2.6rem  !important;
    }
  }
}



