.title-text {
    line-height: 1.1rem;
    padding-top: 0.35rem;
    margin-bottom: 0;
}

.release-date-text {
    line-height: 1.1rem;
    padding-top: 0.35rem;
    padding-bottom: 0.5rem;
    color: #a0bbc6;
    font-size: 0.9rem;
}

.rating-badge {
    position: absolute;
    top: 5px;
    left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.card-img {
    border-radius: 0.55rem;
}