.App {
    background-color: #081b22;
    color: #a0bbc6;
    height: 100%;
    & a {
        color: #e3f4fc !important;
    }
    & h2 {
        font-size: 1.35rem;
    }
    & .badge-success {
        background-color: #01d277
    }
    & .badge-primary {
        background-color: #4903a4
    }
    & .badge-danger {
        background-color: #d1225b
    }
}

h1, h2 {
    color: #e3f4fc;
}

